---
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
import Menu from "../components/Menu.astro";
import Container from "../components/Container.astro";
import "../styles/style.css";
//import { Debug } from "astro/components";

const url = "https://nwjbtvzqimludxhozddx.supabase.co/rest/v1/sakura";
const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53amJ0dnpxaW1sdWR4aG96ZGR4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg5NTY1NjMsImV4cCI6MTk5NDUzMjU2M30.pBu6ZWcKE_Krw71zy6wwDpQdA5iwxQsjAruQOKbdIlw",
  },
};

const response = await fetch(url, options);
const alleEvents = await response.json();

const mainStageLoerdag = alleEvents.filter((festivalevent) => festivalevent.scene === 1 && festivalevent.dato === 1);
const mainStageSondag = alleEvents.filter((festivalevent) => festivalevent.scene === 1 && festivalevent.dato === 2);
const secondStageLoerdag = alleEvents.filter((festivalevent) => festivalevent.scene === 2 && festivalevent.dato === 1);
const secondStageSondag = alleEvents.filter((festivalevent) => festivalevent.scene === 2 && festivalevent.dato === 2);
const lawnStageLoerdag = alleEvents.filter((festivalevent) => festivalevent.scene === 3 && festivalevent.dato === 1);
const lawnStageSondag = alleEvents.filter((festivalevent) => festivalevent.scene === 3 && festivalevent.dato === 2);

---

<MainLayout>
    <!-- {alleEvents.map((event) => <Card festivalevent={event} />)} -->

  <main>
    <div>
      <h3>Main stage</h3>
      <div class="main_loerdag">
        <Container theEvents={mainStageLoerdag} />
      </div>

      <div>
        <Container theEvents={secondStageLoerdag} filter="Second Stage" />
      </div>

      <div>
        <Container theEvents={lawnStageLoerdag} filter="Lawn Stage" />
      </div>
    </div>

    <Container theEvents={mainStageSondag} filter="Main Stage" />
    <Container theEvents={secondStageSondag} filter="Second Stage" />
    <Container theEvents={lawnStageSondag} filter="Lawn Stage" />
  </main>
</MainLayout>

<style>
  .main_loerdag {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  h3 {
    position: relative;
    text-align: center;
  }
</style>
