---
const { festivalevent } = Astro.props;
import Card from "./Card.astro";
import Lineup from "../pages/lineup.astro";
---

 <!-- 
<article>
 <img src={img} /> 
  <h4>{festivalevent.event}</h4>
  <p>{festivalevent.time}</p>
  <p>{festivalevent.description}</p>
</article> -->

<section>
  <h4>{festivalevent}</h4>



  {festivalevent.map((event) => <personkort 

link={"/undersider/" + festivalevent.id} 
image={`/img/${festivalevent.image}`} 
navn={festivalevent.event} 
dato={festivalevent.time.slice(0, 10)} 
description={festivalevent.description}




/>


)


}
</section>

<style>
  .article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
