---
const { festivalevent } = Astro.props;
import Card from "./Card.astro";
---

<article>
  <!-- <img src={img} /> -->
  <h4>{festivalevent.event}</h4>
  <p>{festivalevent.time}</p>
  <p>{festivalevent.description}</p>
</article>

<section>
  <h2>{tro}</h2>
  {personer.map((person) => <personkort link={"/undersider/" + person.slug} profilbillede={`/thumbs/${person.billede}`} navn={person.navn} email={person.email} dato={person.created_at.slice(0, 10)} />)}
</section>

<style>
  .article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
